body {
    margin-top: 20px; /* 100px is double the height of the navbar - I made it a big larger for some more space - keep it at 50px at least if you want to use the fixed top nav */
}

footer {
    margin: 50px 0;
}

a.tag {
    font-size: 10px;
    background-color: #F5F5F5;
    display: inline-block;
    margin-bottom: 4px;
    min-width: 10px;
    padding: 4px 7px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 8px;
}

a.date {
   background-color: rgba(0, 0, 0, 0);
   border-radius: 0;
   font-size: 12px;
   padding-right: 10px;
   color: #b7b7b7;
}
.marginR{
    margin-right: 15px;
}
.borderR{
    border-right: 4px solid #E3E3E3;
}
body {
  font-size: 16px;
  line-height: 1.428571429;
  color: #535353;
}
.pagination{
    text-align: center;
}